* {
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #fafafa;
    font-family: "Helvetica";
}
body{
    padding: 20px;
}

section{
    margin-top: 20px;
}
img{
    max-width: 750px;
    width: 70%;
    height: auto;
}